.MemeThumbnail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    height: calc(100vh - 160px);
    overflow-y: scroll;
    padding:10px 20px;

}
.MemeThumbnail>div{
    width:  30vw;
    height: 25vh;
    text-align: center;
}
.MemeThumbnail>div svg{
   height: 100%;
}